.thh {
    color: white;
}

.tdd{
    color: #fff;
}

.pp{
    text-align: center;
    color: #fff;
   
}
.gg{
    color: #fff;
   text-align: center;
   
}
.generate{
    margin-bottom: 20px;
   text-align: right;
}
.report{
    border-radius: 25px;
}